:root {
  --brand-blue: #3b2186;
  --brand-yellow: #f2cf7e;
  --brand-black: #2a2a38;

  --success: #74b566;
  --info: #76bedb;
  --warning: #e6af5f;
  --error: #c95c54;

  --gray-80: #555560;
  --gray-60: #7f7f88;
  --gray-40: #aaaaaf;
  --gray-20: #d4d4d7;
  --gray-10: #eaeaeb;

  --title: #222222;
  --body: #444444;

  --line: #ececec;

  --white: #ffffff;

  --bg-yellow: #f9f5e6;
  --bg-blue: #2b146c;
}
